<h3>Main Game Page</h3>

<div class='gameContainer'>


	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<h4 class='panel-title'>Score</h4>
		</div>
		<div class='panel-body'>
    		<div class='pull-right gameAlerts'>
    			<div ng-show='game.showSwitchAlert' class="alert alert-info">
					<strong>Switch!</strong>
					<span ng-click='closeAlert("switch")' class="glyphicon glyphicon-remove pull-right"></span>
    			</div>
    			<div ng-show='game.showFaultAlert' class="alert alert-info">
					<strong>Double Fault!</strong>
					<span ng-click='closeAlert("fault")' class="glyphicon glyphicon-remove pull-right"></span>
    			</div>

    		<span class="label label-danger pull-right" ng-show='game.finalServe'>FINAL SERVE</span>
    		</div>
			<h1 class='score'>{{player1.score}} - {{player2.score}}</h1>
			<p ng-show='player1.leading'><strong>Leader:</strong> {{player1.name}}</p>
			<p ng-show='player2.leading'><strong>Leader:</strong> {{player2.name}}</p>
			<p ng-show='player1.serving'><strong>Server:</strong> {{player1.name}}</p>
			<p ng-show='player2.serving'><strong>Server:</strong> {{player2.name}}</p>
		
		</div>

	</div>

	<div class='panel panel-info'>

		<div class='panel-heading'>
			<h4 class='panel-title'>{{player1.name}}</h4>
		</div>
		<div class='panel-body'>
			<div class='pull-left'>
				<p>Points: {{player1.score}}</p>
				<p ng-show='player1.serving'>Serves: {{game.serveCounter}}</p>
				<p ng-show='player1.serving'>Faults : {{player1.faults}}</p>
			</div>
		
			<div class='pull-right' ng-show='player1.showPointData'>
				<p>Points Scored While Serving: {{player1.pointsServing}}</p>
				<p>Points Scored While Receiving: {{player1.pointsReceiving}}</p>
				<p>Points Lost To Double Fault: {{player1.ptsDblFaulted}}</p>
			</div>
		</div>
		<div class='panel-footer'>

			<button class='btn btn-success' ng-click='point(player1)'>Point</button>
			<button class='btn btn-warning' ng-click='fault()' ng-show='player1.serving'>Fault</button>
			<button class='btn btn-info' ng-click='togglePointData(player1)'>Point Data</button>
	
		</div>

	</div>

	<div class='panel panel-info'>

		<div class='panel-heading'>
			<h4 class='panel-title'>{{player2.name}}</h4>
		</div>
		<div class='panel-body'>
			<div class='pull-left'>
				<p>Points: {{player2.score}}</p>
				<p ng-show='player2.serving'>Serves: {{game.serveCounter}}</p>
				<p ng-show='player2.serving'>Faults : {{player2.faults}}</p>
			</div>
		
			<div class='pull-right' ng-show='player2.showPointData'>
				<h5>{{player2.name}}'s Point Data</h5>
				<p>Points Scored While Serving: {{player2.pointsServing}}</p>
				<p>Points Scored While Receiving: {{player2.pointsReceiving}}</p>
				<p>Points Lost To Double Fault: {{player2.ptsDblFaulted}}</p>
			</div>
		</div>
		<div class='panel-footer'>

			<button class='btn btn-success' ng-click='point(player2)'>Point</button>
			<button class='btn btn-warning' ng-click='fault()' ng-show='player2.serving'>Fault</button>
			<button class='btn btn-info' ng-click='togglePointData(player2)'>Point Data</button>
	
		</div>

	</div>

</div>