<h3>Main Game Page</h3>

<div class='gameContainer'>


	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<h4 class='panel-title'>Score</h4>
		</div>
		<div class='panel-body game-data-container'>

    		<div class='data-holder scoreData'>

				<h1 class='score'>{{player1.score}} - {{player2.score}}</h1>

				<strong>Leader:</strong>

					<span ng-show='player1.leading'>{{player1.name}}</span>
					<span ng-show='player2.leading'>{{player2.name}}</span> <br/>

				<strong>Server:</strong>

					<p ng-show='player1.serving'>{{player1.name}}</p>
					<p ng-show='player2.serving'>{{player2.name}}</p> <br>

				<button class='btn btn-danger' ng-disabled='game.totalScore === 0' ng-click='undoLastPoint()'>Undo Last Point</button>
    		</div>

    		<div class='data-holder gameAlerts'>

				<div data-toggle="buttons" ng-show='!game.totalScore'>

					<h4>Server Select</h4>

				    <label class="btn btn-primary" ng-click='toggler("serverSelect", player1)'>
				        <input type="radio" name="options"> {{player1.name}}
				    </label>

				    <label class="btn btn-primary" ng-click='toggler("serverSelect", player2)'>
				        <input type="radio" name="options"> {{player2.name}}
				    </label>

				</div>

    			<div ng-show='game.showSwitchAlert' class="alert alert-info">

					<strong>Switch Servers!</strong>
					<span ng-click='closeAlert("switch")' class="glyphicon glyphicon-remove pull-right"></span>

    			</div>

    			<div ng-show='game.showFaultAlert' class="alert alert-info">

					<strong>Double Fault!</strong>
					<span ng-click='closeAlert("fault")' class="glyphicon glyphicon-remove pull-right"></span>

    			</div>

    			<div>

    				<span class="label label-danger" ng-show='game.finalServe'>FINAL SERVE</span>

    			</div>

    		</div>

    		<div class='data-holder streakData'>

    			<div>
    				<h3>Last Five Points</h3>
    				<strong>{{game.streakCount.p1Streak}} - </strong>
    				<strong>{{game.streakCount.p2Streak}}</strong>
    			</div>

    		</div>

		
		</div>

	</div>

	<div class='panel panel-info'>

		<div class='panel-heading'>

			<h4>

				{{player1.name}}

				<img class='serve-icon' src="Images/ping3.svg" ng-show='player1.serving'>

			</h4>

			<div>

				

			</div>

			<form class="form-inline" ng-show='player1.showPlayerNameForm'>

			    <div class="form-group">
			        <label class="sr-only">Player 1</label>
			        <input type="text" class="form-control" ng-model='name1' placeholder="{{player1.name}}">
			    </div>

			    <button class='btn btn-success' ng-click='savePlayerName(player1, name1)'>Save</button>

			    <button class='btn btn-danger' ng-click='toggler("nameForm", player1)'>Cancel</button>

			</form>
		</div>
		<div class='panel-body'>
			<div class='pull-left'>
				<p>Points: {{player1.score}}</p>
				<p ng-show='player1.serving'>Serves: {{game.serveCounter}}</p>
				<p ng-show='player1.serving'>Faults : {{player1.faults}}</p>
			</div>
		
			<div class='pull-right' ng-show='player1.showPointData'>
				<p>Points Scored While Serving: {{player1.pointsServing}}</p>
				<p>Points Scored While Receiving: {{player1.pointsReceiving}}</p>
				<p>Points Lost To Double Fault: {{player1.ptsDblFaulted}}</p>
				<p ng-show='player1.streaking'>Point Streak: {{game.streakCount.p1Streak}}</p>
			</div>
		</div>
		<div class='panel-footer'>

			<button class='btn btn-success' ng-click='point(player1)'>Point</button>

			<button class='btn btn-warning' ng-click='fault()' ng-show='player1.serving'>Fault</button>

			<button class='btn btn-info' ng-click='toggler("pointData", player1)'>Point Data</button>

			<button class='btn btn-info' ng-click='toggler("nameForm", player1)'>Change Player Name</button>
	
		</div>

	</div>

	<div class='panel panel-info'>

		<div class='panel-heading'>

			<h4>

				{{player2.name}}

				<img class='serve-icon' src="Images/ping3.svg" ng-show='player2.serving'>

			</h4>

			<form class="form-inline" ng-show='player2.showPlayerNameForm'>

			    <div class="form-group">
			        <label class="sr-only">Player 2</label>
			        <input type="text" class="form-control" ng-model='name2' placeholder="{{player2.name}}">
			    </div>

				<button class='btn btn-success' ng-click='savePlayerName(player2, name2)'>Save</button>

			    <button class='btn btn-danger' ng-click='toggler("nameForm", player2)'>Cancel</button>

			</form>

		</div>
		<div class='panel-body'>
			<div class='pull-left'>
				<p>Points: {{player2.score}}</p>
				<p ng-show='player2.serving'>Serves: {{game.serveCounter}}</p>
				<p ng-show='player2.serving'>Faults : {{player2.faults}}</p>
			</div>
		
			<div class='pull-right' ng-show='player2.showPointData'>
				<p>Points Scored While Serving: {{player2.pointsServing}}</p>
				<p>Points Scored While Receiving: {{player2.pointsReceiving}}</p>
				<p>Points Lost To Double Fault: {{player2.ptsDblFaulted}}</p>
				<p ng-show='player2.streaking'>Point Streak: {{game.streakCount.p2Streak}}</p>
			</div>
		</div>
		<div class='panel-footer'>

			<button class='btn btn-success' ng-click='point(player2)'>Point</button>

			<button class='btn btn-warning' ng-click='fault()' ng-show='player2.serving'>Fault</button>

			<button class='btn btn-info' ng-click='toggler("pointData", player2)'>Point Data</button>

			<button class='btn btn-info' ng-click='toggler("nameForm", player2)'>Change Player Name</button>
	
		</div>

	</div>

</div>