<div class='container'>

	<div class='all-match-games row'>

		<div class='match-game col-md-3' ng-repeat='game in match.gamesArr'>

			<div class='panel panel-info'>

				<div class='panel-heading'>

					Game {{game.gameNumber}}

				</div>

				<div class='panel-body'>
					
					{{game.winner.score}} - {{game.loser.score}}

					Winner: {{game.winner.name}}

				</div>

			</div>

		</div>

		<button class='col-md-3 btn btn-success' ng-click='playNext()'>Play Next Game!</button>

	</div>

	<div class='match-player-data row'>

		<div class='col-md-6'>

			<div class='panel panel-primary'>
				
				<div class='panel-heading'>

					<h4>{{match.player1.name}}</h4>

				</div>

				<div class='panel-body'>

					<!-- Will contain player game point data -->

					Points Serving: {{match.player1.pointsServing}}
					Points Receiving: {{match.player1.pointsReceiving}}
					Points Lost To Double Fault: {{match.player1.ptsDblFaulted}}

				</div>

			</div>

		</div>

		<div class='col-md-6'>

			<div class='panel panel-primary'>
				
				<div class='panel-heading'>

					<h4>{{match.player2.name}}</h4>

				</div>

				<div class='panel-body'>

					<!-- Will contain player game point data -->

					Points Serving: {{match.player2.pointsServing}}
					Points Receiving: {{match.player2.pointsReceiving}}
					Points Lost To Double Fault: {{match.player2.ptsDblFaulted}}

				</div>

			</div>

		</div>

	</div>

</div>
