<div class='setUp-container'>

	<div class='row matchLength' data-toggle='buttons'>

		<button class="col-md-3 btn btn-primary" ng-click='matchLengthSet(1)'>
			<input type="radio" name="options">
			<strong>1 Game</strong>
		</button>

		<button class="col-md-3 btn btn-primary" ng-click='matchLengthSet(3)'>
			<input type="radio" name="options">
			<strong>3 Games</strong>
		</button>

		<button class="col-md-3 btn btn-primary" ng-click='matchLengthSet(5)'>
			<input type="radio" name="options">
			<strong>5 Games</strong>
		</button>

	</div>

	<div class='row userSetup'>

		<div class='col-md-5 panel panel-primary'>

			<div class='panel-heading'>

				<h4 class='panel-title'>Primary Player</h4>

			</div>

			<div class='panel-body'>

				<div ng-show='primaryPlayer'>

					Name: {{primaryPlayer.name}}

					Wins: {{primaryPlayer.win}}

					Losses: {{primaryPlayer.loss}}

				</div>
				
			</div>

		</div>

		<div class='col-md-5 panel panel-primary'>

			<div class='panel-heading'>

				<h4 class='panel-title'>Secondary Player</h4>

			</div>

			<div class='panel-body'>

				<form ng-show='!secondaryPlayer'>

					<div class="form-group">
			        	<label for="inputEmail" >Email</label>
			       		<input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model='secondaryPlayerEmail'>
		    		</div>

		    		<!-- <div class="form-group">
				        <label for='inputPassword'>Password</label>
				        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model='secondaryPlayerPassword'>
				    </div> -->

		    		<button type="submit" class="btn btn-primary" ng-click='player2Lookup()'>Sumbit</button>

				</form>

				<div ng-show='secondaryPlayer'>

					Name: {{secondaryPlayer.name}}

					Wins: {{secondaryPlayer.win}}

					Losses: {{secondaryPlayer.loss}}

				</div>

			</div>

		</div>

	</div>

	<div class='row server-select'>

		<h4>Server Select</h4>

				    <label class="btn btn-primary" ng-click='toggler("serverSelect", player1)'>
				        <input type="radio" name="options"> NAME
				    </label>

				    <label class="btn btn-primary" ng-click='toggler("serverSelect", player2)'>
				        <input type="radio" name="options"> NAME
				    </label>

	</div>

</div>