<form>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model='playerObj.name'>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model='playerObj.email'>
    </div>
    <div class="form-group">
        <label for="inputPhone" >Phone Number</label>
        <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number" ng-model='playerObj.phone'>
    </div>
    <div class="form-group">
        <label for='inputPassword' >Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model='playerObj.password'>
    </div>
    <button type="submit" class="btn btn-primary" ng-click='savePlayer()'>Sumbit</button>
</form>